body{
	/*background-image: url('/images/background2.jpg');*/
	background-color:LightSteelBlue;
	background-image: no-repeat;

}
.container{
	/*background-color: SteelBlue;*/
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: auto;
	
}
.nav {
	background-color:SteelBlue;
	margin-top: 20px;

}
.nav-tabs {

}
.nav nav-tabs{

}
.row header {
	background-color: LightSteelBlue;
	margin: 10px;
	padding: 10px;
}
ul li a {
	color: black;
}
.footer {
	background-color:grey ;
	margin-top: 100px;

}
.simple{
	background-color: Gainsboro;
	margin-top: 40px;

}
.formTitle {
	margin-top: 40px;
}
.img-circle{
	margin-left: auto;
	margin-right:5px;
	padding-left:15px;
	position: relative;
}
.row footer {
	position: fixed;
	margin-top:30px;
}
#accordion {
	padding-left:15px;
}
#table-rounded {
	border-radius:3px;
}
#teacherList{
	background-color: white;
}