body{
	background-image: url('/images/background.jpg');
	/*background-color:LightSteelBlue;*/
	background-position: fixed;
	background-repeat: initial;

}
.container{
	background-color: LightSteelBlue;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: auto;
	border-radius: 10px;
	position: relative;
	box-shadow: 5px 5px 2px lightGrey;

}
.nav {
	background-color:SteelBlue;
	margin-top: 20px;

}

.fa-cloud{
	color:SteelBlue;
}

.lb{
	color:CadetBlue;
}


.nav nav-tabs{
	margin-bottom: 50px;
}

.singles{
	margin-top: 50px;

}

/*.table-hover{
	color: SteelBlue;
}*/

#imgUploadBtn{
	padding-left: 20px;
}
.p{
	text-align: center;
}

div h4 a{
	color: SteelBlue;
}
h4{
	color: SteelBlue;

}
div h4 a strong{
	color: SteelBlue;
}
h2{
	padding-left: 10px;
	color: SteelBlue;
}
a {
	text-decoration: none;
	text-align:justify;
}
#appName{
	color:CadetBlue;
}
.topmenu{
	color:CadetBlue;

}
#carousel{
	padding-left: 20px;
	border-radius: 5px;

}
.table-rounded{
	background-color: white;
	border-radius: 5px;
	padding-left: 20px;
	position: relative;
}
tr td a{
	font-weight: bold;
}

#logo{
	padding-left: 5px;
	padding-top: 5px;
}
.row header {
	background-color: LightSteelBlue;
	margin: 10px;
	padding: 10px;
}
ul li a {
	color:MidnightBlue;
	font-weight: bold;
	text-decoration: none;
}
li a{
}
.footer {
	background-color: SteelBlue;
	margin-top: 100px;

}
.simple{
	background-color: Gainsboro;
	margin-top: 40px;

}
.formTitles {
	padding-left: 20px;
}
.img-circle{
	margin-left: auto;
	margin-right:5px;
	padding-left:20px;
	position: relative;
	float: left;
}
.row footer {
	position: fixed;
	margin-top:30px;
}
#accordion {
	padding-left:20px;
}
#accordionCollapse{
	padding-right: 20px;
}
#table-rounded {
	border-radius:3px;
}
#teacherList{
	background-color: white;
}
.archiveViews{
	background-color: white;
}